/* ------------------------------------- */
/* HEADER                                */
/* ------------------------------------- */

.main-header {
  display: flex;
  flex-direction: column;
  
  background-color: rgb(15, 1, 99) ;
  @media (max-width: 768px) {
    & {
      flex-direction: column-reverse;
    }
  }


}

#menu {
  display: none;
  
  &:checked + .nav-bar {
    display: block;
    
  }

  &:checked ~ .search-bar .menu-toogle__label {
    background-color: rgb(31, 31, 39);
  }

}

/* ------------------------------------- */
/* NAVBAR                                */
/* ------------------------------------- */

.nav-bar {
  background-color: rgb(15,1,99);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
  &__nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;

    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__nav-item {
    text-align: center;
    background-color: rgb(15,1,99);
  }

  &__nav-link {
    display: block;
    background-color: rgba(15,1,99);
    color: white;
    padding: 1em 2em;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    & {
      display: none;
      
    }
  }
}

/* ------------------------------------- */
/* SEARCH BAR                            */
/* ------------------------------------- */

.search-bar {
  background-color: rgba(15,1,99);
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  
  &__logo-container,
  &__form-container {
    padding: 1em;
    border-radius: 30px;
  }

  &__logo-container {
    display: flex;
    justify-self: center;
    align-self: center;
    flex: 0 0 3em;
    background-color: rgba(46,43,182);
    height: 30px;
    width: 30px;
    border-radius: 2px;
  }
  &__logo-img {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 25px;
    width: 25px;

  }

  &__form-container {
    background-color: rgba(15,1,99);
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }

  &__form-label {
    background-color: rgba(15,1,99);
    color: white;
  }

  &__form-search {
    background-color: rgb(46, 43, 182);
    width: 70%;
    border-radius: 10px;
    color: white;
  }

  &__form-submit {
    background-color: rgba(46,43,182);;
    color: white;
    border-radius: 15px;
    width: 70px;
    height: 20px;
  }

  &__carrito-container {
    flex: 0 0 3em; /* shorthand (grow shrink basis */
    display: flex;
    justify-self: center;
    align-self: center;
    background-color: rgb(46, 43, 182);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
  }
  &__carrito-img{
    display: flex;
    justify-self: center;
    align-self: center;
  height: 30px;
  width: 30px;
  }

}


/* ------------------------------------- */
/* MENU TOOGLE                           */
/* ------------------------------------- */

.menu-toggle {
  display: none;
  background-color: red;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;

  &__label {
    display: block;
    background-color: black;
    height: 100%;
  }

  &__top-bread,
  &__meat,
  &__bottom-bread {
    display: block;
    background-color: #333;
    height: .2em;
    position: absolute;
    left: .5em;
    right: .5em;
  }

  &__top-bread {
    top: .8em;
  }

  &__meat {
    top: 50%;
    margin-top: -.1em;
  }

  &__bottom-bread {
    bottom: .8em;
  }

  @media (max-width: 768px) {
    & {
      display: block;
    }
  }
}
