<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Proyecto Integrador - Nosotros</title>
</head>

<body>

  <header class="main-header">
    <input type="checkbox" id="menu">

    <nav class="nav-bar"> <!-- nav-bar -->
      <ul class="nav-bar__nav-list">
        <li class="nav-bar__nav-item">
          <a href="../index.html" class="nav-bar__nav-link">Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="../views/alta.html" class="nav-bar__nav-link">Alta</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="../views/contacto.html" class="nav-bar__nav-link">Contacto</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="../views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
        </li> 
      </ul>
    </nav> <!-- nav-bar -->
  </header>
  <main>
    <div class="section-nosotros">
    <section>
      <h1 class="titulo" >¿Quienes somos?</h1>
      <h2 class="bloque-conteiner__heading">Nosotros</h2>
      <div class="bloque-conteiner__description">
        <p class="main">Somos una empresa familiar que se dedica a la venta de insumos tecnologicos, fundada en 2021. Nuestros valores son lo que nos hace quien somos, nos importa le cliente y por eso tenemos servicio al cliente las 24 horas en nuestras redes.</p>
<br>
        <p>
          Podes encontrarnos en la calle Siempre Viva 742
        </p>
<br>
<br>
        <h2>Horarios:</h2>
        <br>
        <p>Lunes a viernes de 09:00 a 18:00</p>
        <p>Sabados de 10:00 a 13:00 </p>
    </section>
  </main>
</div>


  <script type="module" src="/main.js"></script>
<br>
<br>

</body>
<footer class="main-footer">
  <p class="main-footer__paragraph">
    Mipagina.com - Todos los derechos reservados. - design por Tomas Rodrigo
  </p>

  <p class="main-footer__paragraph">
    Mipagina.com
  </p>

  <p class="main-footer__paragraph">
    © 2020 - 2023 - Mipagina.com All Rights reserved
  </p>
</footer>
</html>