@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Heebo&family=Pangolin&family=Staatliches&display=swap');
body {
  font-family: 'Bricolage Grotesque', sans-serif;
}

p {
font-family: 'Heebo', sans-serif;
font-family: 'Pangolin', cursive;
font-family: 'Staatliches', cursive; 
color: white;
}

a{
  text-decoration: none;
  color: white;
}

h1{
  color: greenyellow;
}
h2{
  color: greenyellow;
}