body {
    background-color: #2f005c;
  }
  


  .titulo {
    margin: 20px 100px;
    color: white;
    font-size: 50px;
    text-align: center;
    @media (max-width: 750px) {
      & {
        font-size: 35px;
        margin: 15px 50px;
      }
    }
    @media (max-width: 500px) {
      & {
        margin: 10px 30px;
        font-size: 25px;
      }
    }
  }
  .bloque-conteiner {
    margin: 20px 100px;
    color: rgb(15,1,99);
    @media (max-width: 750px) {
      margin: 15px 50px;
    }
    @media (max-width: 610px) {
      margin: 10px 30px;
    }
  
    &__heading {
      margin: 20px 0px;
      color: #206e8c;
      font-size: 30px;
    }
  
    @media (max-width: 780px) {
      &__heading {
        font-size: 17px;
      }
      &__description {
        font-size: 13px;
      }
    }
    @media (max-width: 450px) {
      &__heading {
        font-size: 15px;
      }
      &__description {
        font-size: 11px;
      }
    }
  
    
      @media (max-width: 1225px) {
        & {
          width: 450px;
          height: 300px;
        }
      }
      @media (max-width: 1120px) {
        & {
          width: 400px;
          height: 300px;
        }
      }
      @media (max-width: 1010px) {
        & {
          width: 350px;
          height: 300px;
        }
      }
  
      @media (max-width: 910px) {
        & {
          width: 300px;
          height: 250px;
        }
      }
      @media (max-width: 806px) {
        & {
          width: 250px;
          height: 200px;
        }
      }
  
      @media (max-width: 530px) {
        & {
          width: 200px;
          height: 150px;
        }
      }
  
      @media (max-width: 465px) {
        & {
          width: 150px;
          height: 100px;
        }
      }
    }
  